.container {
    display: grid;
    position: fixed;
    top: 25px;
    right: 40px;
    width: 350px;
    grid-template-columns: 4fr 1fr;
    z-index: 9999;
}
.container img {
    width: 50px;
    height: 50px;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    border: 2px solid aliceblue;
    box-shadow: 1px 1px 15px aliceblue;
}

.container h2 {
    font-size: 14px;
    justify-self: right;
    text-shadow: 1px 1px 15px rgb(0,215,255);
}
.container p {
    color: aliceblue;
    font-size: 10px;
}

@media (max-width: 768px) {
    .container {
        width: 60px;
        grid-template-columns: 1fr;
        right: 20px;
    }

    .container h2 {
        display: none;
    }
}