.container {
    display: grid;
    position: absolute;
    margin-top: 200px;
    z-index: 999;
    justify-self: center;
    border-radius: 20px;
    border: 2px solid aqua;
    width: 300px;
    height: 200px;
    background-color: rgb(15,15,15);
}

.message {
    display: grid;
}

.message p {
    font-size: 24px;
}

.container .message button {
    justify-self: center;
}