.container {
    display: grid;
    position: absolute;
    margin-top: 200px;
    z-index: 999;
    justify-self: center;
    border-radius: 20px;
    border: 2px solid rgb(0,215,255);
    width: 300px;
    height: 200px;
    background-color: rgb(15,15,15);
}

.message {
    display: grid;
}

.message p {
    color: aliceblue;
    font-size: 24px;
}

.container .message button {
    justify-self: center;
    width: 80px;
    border-radius: 25px;
    border: 2px solid rgb(255, 27, 145);
    background-color: rgb(15,15,15);
    color: rgb(0,215,255);
    box-shadow: 1px 1px 15px rgb(255, 27, 145);
    text-shadow: 1px 1px 15px rgb(0,215,255);
}

.container .message button:hover {
   background-color: rgba(132, 0, 255, 0.3); 
}