.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-self: center;
}

.search {
  justify-self: left;
  margin-left: 10px;
  background-color: rgba(138, 43, 226, 0.3);
  border: 2px solid rgb(255, 27, 145);
  color: rgb(0, 214, 247);
  box-shadow: 1px 1px 25px blueviolet;
  text-shadow: 1px 1px 25px rgb(0, 214, 247);
}

.search:hover {
  background-color: rgba(138, 43, 226, 0.3);
  border-radius: 25px;
  width: 80px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 2fr 1fr;
    width: 100%;
  }

  .search {
    margin: 0;
  }
}
