a {
    display: grid;
}

.home {
    border: 2px solid rgb(255, 27, 145);
    box-shadow: 1px 1px 15px rgb(255, 27, 145);
    background-color: rgb(15,15,15);
    color: rgb(0,215,255);
    text-shadow: 1px 1px 15px rgb(0,215,255);
}

.home:hover {
    background-color: rgb(15,15,15);
    width: 90px;
    border-radius: 25px;
}