a {
    display: grid;
}

.home {
    border: 2px solid fuchsia;
    box-shadow: 1px 1px 15px fuchsia;
    background-color: rgb(15,15,15);
    color: aqua;
    text-shadow: 1px 1px 15px aqua;
}

.home:hover {
    background-color: rgb(15,15,15);
    width: 90px;
    border-radius: 25px;
}